<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css" />
    <title>Show</title>
</head>
<body>
    <div>
        <img src=<%= poke.img %> alt"pics" />
        <br>
        <h1>Show</h1>
        <h3><%= poke.name %></h3>
        <h3><%= poke.type %></h3>
        

       <button><a href="/pokemon/<%= idx %>/edit">Edit</a></button> 
       <button><a href="/pokemon/<%= idx %>/delete">Delete Pokemon</a></button> 
        <button><a href="http://localhost:4500/pokemon/">Home</a>
    </div>
    

</body>
</html>